{% extends "base.html" %}

{% block title %}404エラー{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

{% block content %}

<div class="header-image-container">
    <div class="header-image-inner-container">
        <img src="{{ url_for('static', filename='image/Header-image.png') }}" class="header-image" alt="ヘッダー画像">
        <p class="header-notification">お知らせ</p>
    </div>
</div>

<div class="error-wrapper">
    <div class ="box-design">
        <p class="error-num">4 0 4 Not found</p>
            <div class="error-description">
                <p>お探しのページが見つかりませんでした。</p>
                <p>URLに誤りがあるか<br>
                削除もしくは移動した可能性があります</p>
            </div>

            <img src="{{ url_for('static', filename='image/app_logo.png') }}" class="app-logo-image" alt="アプリロゴ画像"> <!-- style属性を削除し、クラスを追加 -->
            <a href='book/books.html' class="c-button">IT書籍を探すなら</a>
    </div>
</div>

{% endblock %}


