/* search-cotainer を中央に配置 */
.search-container {
    display: flex; /* Flexboxを使って子要素を配置 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え　*/
    width: 100%; /* 親要素の幅いっぱいに広げる　*/
    margin-top: 20px; /* 画像の下に少しスペースを開ける　*/
}

/* 検索入力欄のスタイル　*/
.search-input {
    width: 80%;
    max-width: 200px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}