<header id="header">
  <div class="header-inner">

    <!-- ヘッダー上部にロゴとアプリ名を表示 -->
    <div class="header-upper">
      <!-- ロゴを左上に配置 -->
      <div class="app-logo-container">
        <img src="{{ url_for('static', filename='image/app_logo.png') }}" alt="app-logo" class="app-logo">
      </div>
      <!-- アプリ名を左右中央に表示-->
      <div class="app-name-container">
        <img src="{{ url_for('static', filename='image/img_header_app_name.png') }}" alt="app-name" class="app-name">
      </div>
    </div>

    <!-- ロゴとアプリ名の下にサブタイトルを表示 -->
    <div class="subtitle-container">
      <p id="sub-title">学習レベルに応じたIT書籍のレコメンドアプリ</p>
    </div>

    <!-- 青色のナビゲーションバーを表示 -->
    <nav class="nav-bar">
      <div class="nav-inner">
        
      <!-- ------各画面、青色ナビゲーションバー内をそれぞれ「左・中・右」に分割表示------ -->
        <!-- ゲストページ -->
        <!-- 「　　　　　」「ゲストページ」「　　　　　」を表示 -->
        {% if request.endpoint == 'guest_view' %}
          <div class="nav-left">&nbsp;</div>
          <div class="nav-center"><span class="nav-text">ゲストページ</span></div>
          <div class="nav-right">&nbsp;</div>

        <!-- 新規登録ページ -->
        <!-- 「　　　　　」「新規登録ページ」「　　　　　」を表示 -->
        {% elif request.endpoint == 'signup_view' %}
          <div class="nav-left">&nbsp;</div>
          <div class="nav-center"><span class="nav-text">新規登録ページ</span></div>
          <div class="nav-right">&nbsp;</div>

        <!-- ログインページ -->
        <!--「　　　　　」「ログインページ」「　　　　　」を表示 -->
        {% elif request.endpoint == 'login_view' %}
          <div class="nav-left">&nbsp;</div>
          <div class="nav-center"><span class="nav-text">ログインページ</span></div>
          <div class="nav-right">&nbsp;</div>

        <!-- 書籍一覧（トップ）ページ -->
        <!-- 「　　　　　」「　　　　　」「ログアウト▶」を表示 -->
        {% elif request.endpoint == 'books_view' %}
          <div class="nav-left">&nbsp;</div>
          <div class="nav-center">&nbsp;</div>
          <div class="nav-right"><a href="{{ url_for('logout') }}" class="nav-button">ログアウト▶</a></div>

        <!-- 評価詳細ページ -->
        <!-- 「◀戻る」「　　　　　」「ログアウト▶」を表示 -->
        {% elif request.endpoint == 'book_id_view' %}
          <div class="nav-left"><a href="{{ url_for('books_view') }}" class="nav-button">◀戻る</a></div>
          <div class="nav-center">&nbsp;</div>
          <div class="nav-right"><a href="{{ url_for('logout') }}" class="nav-button">ログアウト▶</a></div>

        <!-- 書籍コメントページ -->
        <!--「◀戻る」「　　　　　」「ログアウト▶」を表示 -->
        {% elif request.endpoint in ['book_comment_view', 'create_comment', 'edit_comment'] %}
          <div class="nav-left"><a href="{{ url_for('book_id_view', book_id=request.view_args.book_id) }}" class="nav-button">◀戻る</a></div>
          <div class="nav-center">&nbsp;</div>
          <div class="nav-right"><a href="{{ url_for('logout') }}" class="nav-button">ログアウト▶</a></div>

        <!-- 「◀トップページ」「　　　　　」「　　　　　」を表示 -->
        <!-- エラーページ(404) -->
        {% elif request.endpoint == None or request.endpoint == 'page_not_found' %}
          <div class="nav-left"><a href="{{ url_for('books_view') }}" class="nav-button">◀トップページ</a></div>
          <div class="nav-center">&nbsp;</div>
          <div class="nav-right">&nbsp;</div>
        <!-- エラーページ(500) -->
        {% elif request.endpoint == 'trigger_500' %}
          <div class="nav-left"><a href="{{ url_for('books_view') }}" class="nav-button">◀トップページ</a></div>
          <div class="nav-center">&nbsp;</div>
          <div class="nav-right">&nbsp;</div>
        <!-- エラーページ(400) -->
        {% elif request.endpoint == 'trigger_400' %}
          <div class="nav-left"><a href="{{ url_for('books_view') }}" class="nav-button">◀トップページ</a></div>
          <div class="nav-center">&nbsp;</div>
          <div class="nav-right">&nbsp;</div>

        <!-- その他（想定外・予備）のページ -->
        {% else %}
          <div class="nav-left">&nbsp;</div>
          <div class="nav-center">&nbsp;</div>
          <div class="nav-right">&nbsp;</div>
        {% endif %}        


      </div>
    </nav>
    
  </div>
</header>
