{% extends "base.html" %}

{% block title %}書籍評価{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/create_comment.css') }}">
{% endblock %}

{% block content %}

<div class="header-image-container">
    <img src="{{ url_for('static', filename='image/Header-image.png') }}" class="header-image" alt="ヘッダー画像">
    <p class="header-notification">書籍評価</p>
</div>

<div class="comment-list"> <!-- 全体を囲む大きな枠 -->
    <article class="comment-item"> <!-- 書籍１冊分のセット枠 -->
        <form action="/submit_comment" method="post">
            <input type="hidden" name="user_id" value="123">
            <input type="hidden" name="book_id" value="456">

            <h3 class="book-title"> マスタリングTCP/IP―入門編―(第6版) </h3>
            <div class="comment-content">
                <!-- 1行目 左側: 書籍画像 -->
                <img src="{{ url_for('static', filename='image/1.jpg') }}" alt="マスタリングTCP/IP―入門編―(第6版)の本の表紙画像" class="book-image">

                <!-- 1行目 右側: 評価と学習者レベルドロップダウン -->
                <div class="book-info-right">
                    <div class="book-evaluation">
                        <h5>評価☆☆☆☆☆</h5>
                        <input type="number" id="book-rating" name="evaluation" min="1" max="5" step="1" placeholder="1から5の整数入力" class="rating-input">
                    </div>
                    <div class="select-levels">
                        <h5>学習者レベル</h5>
                        <select id="learning-level" name="status" class="level-dropdown">
                            <option value="" disabled selected>選択してください</option>
                            <option value="start">START/入門</option>
                            <option value="basic">BASIC/基礎</option>
                            <option value="standard">STANDARD/応用</option>
                            <option value="expert">EXPERT/発展</option>
                        </select>
                    </div>
                </div>

                <!-- 2行目: 学習者レベルの説明 (全幅) -->
                <div class="learning-level-descriptions">
                    <h5>学習者レベル</h5>
                    <p><strong>START/入門:</strong> ITの学習を始めたばかりの学習者レベル</p>
                    <p><strong>BASIC/基礎:</strong> 基本的な知識を習得する学習者レベル</p>
                    <p><strong>STANDARD/応用:</strong> 応用的な知識を習得する学習者レベル。</p>
                    <p><strong>EXPERT/発展:</strong> 高度な専門知識を持ち、複雑な問題解決に取り組む学習者レベル。</p>
                </div>

                <!-- 3行目: コメント入力欄 (全幅) -->
                <div class="comment-description-area ">
                    <p class="comment-description-heading">  書籍のコメント </p>
                    <textarea id="comment-message" name="message" class="comment-textarea" rows="5" placeholder="書籍の感想や評価を記入してください(最大140文字)" maxlength="140"></textarea>
                </div>
            </div>
            <!-- コメント投稿ボタン -->
            <button type="submit" class="submit-button">登録</button>
        </form>
    </article>
</div>

{% endblock %}